<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.analysisreport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.DetailPanen"></activity>
        <activity android:name=".Activity.InpuDataPanen" />
        <activity android:name=".Chart.ChartSampling" />
        <activity android:name=".Chart.ChartPakan" />
        <activity android:name=".Activity.UpdateIsiAir" />
        <activity android:name=".Activity.InputDataSampling" />
        <activity android:name=".Activity.InputDataPakan" />
        <activity android:name=".Activity.InputDataAir" />
        <activity android:name=".Activity.DetailSampling" />
        <activity android:name=".Activity.DetailPakan" />
        <activity android:name=".Activity.DetailAir" />
        <activity android:name=".Activity.InputData" />
        <activity android:name=".Activity.Main3Activity" />
        <activity android:name=".Activity.ListTambak" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.Register" />
        <activity android:name=".Activity.Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>